body {
    margin: 0px;
    top: 0 !important;
}

div {
    padding-right: 10px;
    padding-left: 10px;
}

.info-container {
    display: inline-block;
    width: calc(100% + -50px);
    vertical-align: middle;
}

.customContainer {
    padding: 0 3% 0 3%;
}

a.gflag {
    vertical-align: middle;
    font-size: 16px;
    padding: 1px 0;
    background-repeat: no-repeat;
    background-image: url(//gtranslate.net/flags/16.png);
}

a.gflag img {
    border: 0;
}

a.gflag:hover {
    background-image: url(//gtranslate.net/flags/16a.png);
}

#goog-gt-tt {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value:hover {
    text-decoration: none !important;
}

#google_translate_element2 {
    display: none !important;
}

.list-group.inner li{
    border: none !important;
}

#footer {
    background: #F8F8F8 !important;
}

#footer ul a {
    color: #b9b9b9;
}

#footer ul a:hover {
    color: #b9b9b9;
}

#footer ul {
    padding: 1px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul:hover {
    padding: 1px 0;
    margin-left: 5px;
    font-weight: 700;
}

.chartBox {
    width: 550px;
    height: 350px;
    border: 1px dashed darkgray;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(63, 62, 62, 0.5);
    box-shadow: 0 0 5px 2px rgba(63, 62, 62, 0.5);
}
/* Information Files */
div.info {
    display: inline-block;
    border: grey 0.5px solid;
    font-weight:bold;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    background-color: lightgrey;
    display: none;
    }

    /* Content File */
    div.content {
    display: inline-block;
    border: grey 0.5px solid;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    background-color: lightgrey;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    /* Clusterresult */
    div.result {
    display: inline-block;
    border: grey 0.5px solid;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    margin: 0px 10px 20px 10px;
    background-color: lightyellow;
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    }


    /* Standard text */
    div.text {
    display: inline-block;
    font-weight:bold;
    }
    
    body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px;
    line-height: 1.6; }

    button {
    font-weight:bold;
    cursor: pointer;
    display: inline;
    background: orange;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    }

    select.main {
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    padding: 1px 2px 1px 4px;
    font-size: 14px;
    border: 2px solid black;
    background-color: lightblue;
    font-weight:bold;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    }

    select.sub {
    font-size: 13px;
    margin-right: 10px;
    background-color: lightyellow;
    font-weight: bold;
    border: 1px solid black;
    height: 4px;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    }

    input {
    font-size: 13px;
    margin-right: 10px;
    background-color: lightyellow;
    border: 1px solid;
    padding-left: 10px;
    font-weight: bold; }

    canvas {
    margin: 0;
    padding: 0;
    }