body {
    margin: 0px;
    top: 0 !important;
}

.dc-chart .axis text {
    font: 12px sans-serif;
}

.dc-chart .brush rect.selection {
    fill: #4682b4;
    fill-opacity: .125;
}

.dc-chart .symbol {
    stroke: #000;
    stroke-width: 0.5px;
}

.domain {
    /* display: none; */
    stroke: #635F5D;
    stroke-width: 1;
}

.tick text,
.legendCells text {
    fill: #635F5D;
    font-size: 12px;
    font-family: sans-serif;
}

.axis-label,
.legend-label {
    fill: #635F5D;
    font-size: 12px;
    font-family: sans-serif;
}

/*  .axis path, */
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tick line {
    stroke: #C0C0BB;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

div {
    padding-right: 10px;
    padding-left: 10px;
}

.info-container {
    display: inline-block;
    width: calc(100% + -50px);
    vertical-align: middle;
}

.customContainer {
    padding: 0 3% 0 3%;
}

a.gflag {
    vertical-align: middle;
    font-size: 16px;
    padding: 1px 0;
    background-repeat: no-repeat;
    background-image: url(//gtranslate.net/flags/16.png);
}

a.gflag img {
    border: 0;
}

a.gflag:hover {
    background-image: url(//gtranslate.net/flags/16a.png);
}

#goog-gt-tt {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value:hover {
    text-decoration: none !important;
}

#google_translate_element2 {
    display: none !important;
}

.badge {
    padding: 4px 8px !important;
}

#forecastlist, #pbd {
    width: 80%;
}

.dc-select-menu {
    width: 100% !important;
}